.footer-section {
  background-color: #34685C;
  color: #EF7401;
  text-align: center;
  padding: 2rem 0;
  position: relative;

  .footer-content {
    margin-bottom: 1rem;

    a {
      color: #EF7401;
      margin: 0 1rem;
      font-size: 2rem;
      transition: color 0.3s ease;

      &:hover {
        color: #c65a00;
      }
    }
  }

  p {
    margin: 0;
    font-size: 0.9rem;
  }
}
