/* Initial header styling */
.header-section {
  background-color: #34685C;
  color: #EF7401;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  transition: all 1s ease;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;

  /* Adjusted styling when scrolled */
  &.header--scrolled {
    padding: 2.5rem 1rem 1rem;
    background-color: #34685C;
    text-align: center;
  }
}

/* Initial header name styling */
.header-name {
  font-size: 8rem;
  color: #EF7401;
  margin: 0;
  transition: font-size 1s ease, transform 1s ease;

  /* Shrinks font size when scrolled */
  .header--scrolled & {
    font-size: 1.5rem;
    transform: translateY(-50%); /* Slight upward shift */
  }
}
